:root {
    /* colors */
    --header-color: rgb(226, 65, 44);
    --body-color: rgb(240, 240, 240);
}

body {
    background-color: var(--body-color) !important;
    font-family: calibri, 'Helvetica Neue', sans-serif;

}

/* navbar */
.navbar {
    background-color: var(--header-color);
    color: white;
}

/* login button */
.close {
    width: 20px;
    height: 20px;
    position: relative;
    background-color: transparent;
    border: 0;
    right: 20px;
}

div.modal-content {
    background-color: var(--body-color);
}

div.modal-header {
    height: 0px !important;
    padding: .7rem;
    border: none;
}

.select {
    width: 100%;
    height: 32px;
    border: none;
    padding: 6px;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);

}

.select:focus {
    outline: none;

}

/* details */
.aicte {
    font-size: 12.5px;
    line-height: .2;
}

.box {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255) !important;
    padding: 0 6px;

}

.grid {
    padding: 0 8px;
    width: 100%;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
}

.grid-item {
    padding: 8px 12px;
    background-color: rgb(255, 255, 255) !important;

}

.grid-item div:nth-child(2) {
    color: rgba(0, 0, 0, 0.5);
}

.grid-item:last-child {
    margin-bottom: 2px;
    grid-column: 1/3;
}

.canvas-heading {
    margin-left: 15px;
    line-height: 2;
}

footer {
    padding: 20px 10px;
    text-align: right;
}